@use "pages" as *;
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgb(101, 0, 94) 3%,
    rgb(60, 132, 206) 38%,
    rgb(48, 238, 226) 68%,
    rgb(255, 25, 25) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}
.cards {
  font-family: sans-serif;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  font-family: serif;
  background: #ba9a9a;
  flex-basis: 25%;
  padding: 20px;
  border-radius: 8px;
  height: 300px;
  border: 2px solid #9f9f9f;
  transition: 0.4s;
  // opacity: 0.5;
}

.par12 {
  font-family: sans-serif;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.card {
  p {
    font-family: sans-serif;
    padding-top: 8px;
    padding-bottom: 10px;
  }

  h2 {
    padding-top: 8px;
    font-family: sans-serif;
  }
}
a {
  margin-top: 1000px;
  list-style: none;
  font-family: sans-serif;
}
