.cards {
  font-family: Roboto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  flex-basis: 25%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.45);
  height: 200px;
}
