// @use "../themes/Roboto-Regular.ttf" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.cards {
  font-family: sans-serif;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  font-family: sans-serif;

  flex-basis: 25%;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #9f9f9f;
  transition: 0.4;
  // box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.45);
  height: 240px;
}
.card:hover {
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.45);
}

.heading1 {
  font-family: sans-serif;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
